<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>grocery</title>
    <style>
        .error{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgb(107, 103, 103);
            height: 50vh;
            font-size: xx-large;
            font-weight: bolder;
            color: red;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="error">
        This is page does not exits
    </div>
</body>
</html>