<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/about.css">
    <title>about us</title>
</head>
<body>
    {{>navbar}}
    <div class="maina">
        <div class="infoa">
            <h1>
                about us
            </h1>
            <div class="texta">
                I am pawan Mishra a B.Tech Student. I am a full stack developer. and this is a prototype of shopping website made by me.
            </div>
        </div>
        <div class="image">
            <img src="images/Ex 18 CS 69.jpg" alt="">
        </div>
    </div>
    {{>footer}}
</body>
</html>