<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <script src="js/index.js" defer></script>
    <title>General Store</title>
</head>
<body>
   
    {{>navbar}}
    <main class="mainContainer">
        <!-- aside section -->
        <aside class = aside>
            <div class="categories">
                <li class="categoriesType">
                    <span class= "categorieshead">Categories</span>
                </li>
                <li class="categoriesType">
                    <a href="#cat" class= "categoriesItem">cat1</a>
                </li>
                <li class="categoriesType">
                    <a href="#cat" class= "categoriesItem">cat2</a>
                </li>
                <li class="categoriesType">
                    <a href="#cat" class= "categoriesItem">cat3</a>
                </li>
                <li class="categoriesType">
                    <a href="#cat" class= "categoriesItem">cat4</a>
                </li>
                <li class="categoriesType">
                    <a href="#cat" class= "categoriesItem">cat5</a>
                </li>
                <li class="categoriesType">
                    <a href="#cat" class= "categoriesItem">cat6</a>
                </li>
                <li class="categoriesType">
                    <a href="#cat" class= "categoriesItem">cat7</a>
                </li>
                <li class="categoriesType">
                    <a href="#cat" class= "categoriesItem">cat8</a>
                </li>
                <li class="categoriesType">
                    <a href="#cat" class= "categoriesItem">cat9</a>
                </li>
                <li class="categoriesType">
                    <a href="#cat" class= "categoriesItem">cat10</a>
                </li>
            </div>
        </aside>
        
        <!-- main section -->
        <main class="mainContent">
            <img src="images/banner.jpg" alt="banner" id="banner"> 
        </main>
    </main>
    {{>footer}}
</body>
</html>