<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mobiles and accessories</title>
    <link rel="stylesheet" href="css/cards.css">
</head>
<body>
    {{>navbar}}
    <main class="cards">
        <div class="card">
            <div class="image">
                <img src="images/mobiles/1.webp" alt="">
            </div>
            <div class="title">
                Samsung m32
            </div>
            <div class="desc">
                Samsung Galaxy M32 5G (Sky Blue, 6GB RAM, 128GB Storage) 
            </div>
            <div class="price">
                Rs. 20,099
            </div>
        </div>
        <div class="card">
            <div class="image">
                <img src="images/mobiles/2.webp" alt="">
            </div>
            <div class="title">
                Redmi 9
            </div>
            <div class="desc">
                Redmi 9 Activ (Coral Green, 4GB RAM, 64GB Storage)
            </div>
            <div class="price">
                Rs. 9,999
            </div>
        </div>
        <div class="card">
            <div class="image">
                <img src="images/mobiles/3.webp" alt="">
            </div>
            <div class="title">
                Realme narzo 50
            </div>
            <div class="desc">
                realme narzo 50i (Mint Green, 4GB RAM+64GB Storage) - with No Cost EMI/Additional Exchange Offers
            </div>
            <div class="price">
                Rs. 8,999
            </div>
        </div>
        <div class="card">
            <div class="image">
                <img src="images/mobiles/4.webp" alt="">
            </div>
            <div class="title">
                Samsung M12
            </div>
            <div class="desc">
                Samsung Galaxy M12 (Blue,4GB RAM, 64GB Storage) 6000 mAh with 8nm Processor | True 48 MP Quad Camera | 90Hz Refresh Rate
            </div>
            <div class="price">
                Rs. 11,490
            </div>
        </div>
        <div class="card">
            <div class="image">
                <img src="images/mobiles/5.webp" alt="">
            </div>
            <div class="title">
                OPPO A31
            </div>
            <div class="desc">
                OPPO A31 (Fantasy White, 6GB RAM, 128GB Storage) with No Cost EMI/Additional Exchange Offers
            </div>
            <div class="price">
                Rs. 12,990
            </div>
        </div>
        <div class="card">
            <div class="image">
                <img src="images/mobiles/6.webp" alt="">
            </div>
            <div class="title">
                Redmi 9A
            </div>
            <div class="desc">
                Redmi 9A (Midnight Black 2GB RAM 32GB Storage) | 2GHz Octa-core Helio G25 Processor | 5000 mAh Battery
            </div>
            <div class="price">
                Rs. 7,499
            </div>
        </div>
        <div class="card">
            <div class="image">
                <img src="images/mobiles/7.webp" alt="">
            </div>
            <div class="title">
                Realme narzo 50A
            </div>
            <div class="desc">
                realme narzo 50A (Oxygen Blue , 4GB RAM + 128 GB Storage) Helio G85 Processor | 50MP AI Triple Camera
            </div>
            <div class="price">
                Rs. 12,490
            </div>
        </div>
    </main>
    {{>footer}}
</body>
</html>