<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/register.css">
    <title>Register</title>
</head>
<body>
    {{>navbar}}
    <div class="register_page">
        <h1>Register Page</h1>
        <form action="/register" method="post" id="register">
            <li class="info">
                <label for="name">Name</label>
                <input type="text" name="name" id="name" class="input" required>
            </li>
            <li class="info">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" class="input" required>
            </li>
            <li class="info">
                <label for="phone">Phone</label>
                <input type="tel" name="phone" id="phone" class="input" required>
            </li>
            <li class="info">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" class="input" required>
            </li>
            <li class="info">
                <label for="cpassword">Confirm Password</label>
                <input type="password" name="password" id="password" class="input" required>
            </li>
            <li class="submit">
                <input type="submit" value="Submit" id="submit">
            </li>
        </form>
    </div>
    {{>footer}}
</body>
</html>