<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sports and fitness</title>
    <link rel="stylesheet" href="css/cards.css">
</head>
<body>
    {{>navbar}}
    <main class="cards">
        <div class="card">
            <div class="image">
                <img src="images/banner.jpg" alt="">
            </div>
            <div class="title">
                Sugar
            </div>
            <div class="desc">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere facilis fugit eos distinctio nesciunt quos, 
            </div>
            <div class="price">
                Rs. 4500
            </div>
        </div>
        <div class="card">
            <div class="image">
                <img src="images/banner.jpg" alt="">
            </div>
            <div class="title">
                Sugar
            </div>
            <div class="desc">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere facilis fugit eos Lorem ipsum dolor sit amet consectet
            </div>
            <div class="price">
                Rs. 4500
            </div>
        </div>
        <div class="card">
            <div class="image">
                <img src="images/banner.jpg" alt="">
            </div>
            <div class="title">
                Sugar
            </div>
            <div class="desc">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere facilis fugit eos distinctio nesciunt quos.
            </div>
            <div class="price">
                Rs. 4500
            </div>
        </div>
        <div class="card">
            <div class="image">
                <img src="images/banner.jpg" alt="">
            </div>
            <div class="title">
                Sugar
            </div>
            <div class="desc">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere facilis fugit eos distinctio nesciunt quo.
            </div>
            <div class="price">
                Rs. 4500
            </div>
        </div>
    </main>
    {{>footer}}
</body>
</html>