<link rel="stylesheet" href="css/footer.css">

<div class="footer">
    <div class="title">
        General Store
    </div>
    <div class="content">
        this is a shoping website made by B.tech student named pawan mishra, where you find lots of shoping products and you guys can support me.
    </div>
    <div class="links">
        <a href="" class="link">Facebook</a>
        <a href="" class="link">Github</a>
        <a href="" class="link">Instagram</a>
    </div>
    <div class="foot">
        <div class="copyright">
            Copyright ©2021 Pawan Mishra
        </div>
        <div class="info">
            <a href="/" class="infoItem">Home</a>
            <a href="/" class="infoItem">About</a>
            <a href="/" class="infoItem">Blog</a>
        </div>
    </div>
</div>

{{!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<footer class="section footer-classic context-dark bg-image" style="background: #2d3246;">
    <div class="container">
        <div class="row row-30">
            <div class="col-md-4 col-xl-5">
                <div class="pr-xl-4">
                    <p>
                        I am pawan mishra B.Tech student dedicated myself to Full Stack development.
                    </p>
                    <p class="rights"><span>© </span><span class="copyright-year">2022</span><span> </span><span>Pawan
                            mishra</span><span> - </span><span>All Rights Reserved.</span></p>
                </div>
            </div>
            <div class="col-md-4">
                <h5>Contacts</h5>
                <dl class="contact-list">
                    <dt>Address:</dt>
                    <dd>House no. 443/26 Ramganj Pathar wali gali,Ajmer,India</dd>
                </dl>
                <dl class="contact-list">
                    <dt>email:</dt>
                    <dd><a href="mailto:#">pawanm992002@gmail.com</a></dd>
                </dl>
                <dl class="contact-list">
                    <dt>phones:</dt>
                    <dd><a href="tel:#">6367703375</a> <span>
                    </dd>
                </dl>
            </div>
            <div class="col-md-4 col-xl-3">
                <h5>Links</h5>
                <ul class="nav-list">
                    <li><a href="#">About</a></li>
                    <li><a href="#">Projects</a></li>
                    <li><a href="#">Blog</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row no-gutters social-container">
        <div class="col"><a class="social-inner" href="#"><span
                    class="icon mdi mdi-facebook"></span><span>Facebook</span></a></div>
        <div class="col"><a class="social-inner" href="#"><span
                    class="icon mdi mdi-instagram"></span><span>Instagram</span></a></div>
        <div class="col"><a class="social-inner" href="#"><span
                    class="icon mdi mdi-twitter"></span><span>GIT HUB</span></a></div>
    </div>
</footer> --}}