.footer{
    display: flex;
    flex-direction: column;
    background-color: gray;
    position: relative;
    bottom: 2px;
    width: 100vw;
    justify-content: center;
    align-items: center;
}
.title{
    font-weight: bolder;
    font-size: larger;
    text-decoration: underline;
}
.content{
    text-align: center;
}
.links{
    display: flex;
    margin: 10px;
    justify-content: space-evenly;
    width: 80%;
}
.foot{
    display: flex;
    justify-content: space-between;
    background-color: rgb(41, 39, 39);
    width: 100%;
    color: rgb(165, 162, 158);
    margin: 6px;
}
.info{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}
.info > a:nth-child(n){
    text-decoration: none;
    color: rgb(139, 188, 231);
    margin: 3px;

}
.copyright{
    display: flex;
    align-items: center;
}
@media screen and (max-width:500px){
    
}