/* main container  */
.mainContainer{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

/* aside section */

.aside{
    width: 30%;
    max-width: 350px;
    margin: 5px auto;
    padding: 5px;
    background: rgb(131, 103, 131);
}
.categories{
    width: 100%;
    margin: 6px auto;
    padding: 2px;
}
body > main > aside > div > li:nth-child(1){
    font-size: large;
    font-weight: bold;
    background: linear-gradient(to right,rgb(41, 40, 40),grey,grey,rgb(41, 40, 40));
    width: 100%;
    margin: 0;
    border:rgb(0, 0, 0);
    border-radius: 5px;
}
.categoriesType{
    padding: 4px;
    margin: 7px auto;
    display: flex;
    justify-content: center;
    background: linear-gradient(20deg,rgb(241, 180, 180),rgb(184, 184, 241),rgb(162, 240, 162));
    border-radius: 60px;
    width: 80%;
}
.categoriesItem{
    text-decoration: none;
    color: blue
}

@media screen and (max-width:900px) {
    .aside{
        width: 100%;
    }
}

/* main section */

.mainContent{
    width: 70%;
    margin: 5px auto;
    display: flex;
}

#banner{
    width: 100%;
}